body {
	background-color: #000000;
	color: #ffffff;
}

#wrapper {
	width: 600px;
	/* height: 600px; */
	margin: 0 auto;
}

canvas {
	cursor: none;
}

#startmusic {
	display: none;
}

.info {
	display: inherit;
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	z-index: 100;
	top: -300px;
	width: 600px;
	text-align: center;
	margin: 0 auto 0 auto;
}